# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 79c47c1e45bdf2a41a3468445df9e36f0f1cd3a34cf5fd47c0001fc489b437db3dc3690514cfd8dfeed1984a27ce0a46ade837fd440e0d335a467bdbb9956e57

test:
  secret_key_base: c00814001fcfa91a2de7e4d441ba9e804bed1eb39b323171764cc4afa9c7b4b791720b8d4f5e2dfd1e5982ab3747498221afc93890bd63a3b12fd8132a9b5ce2

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
